#menuu1468,#u1472,#u1479,#u1529,#u1567
{
	border-color: transparent;
	background-color: transparent;
	background-position: left top;
	background-repeat: repeat-y;
	border-width: 0px;
	border-radius: 10px;
}

#u1472:hover,#u1472:active,#u1472.MuseMenuActive,#u1479:hover,#u1479:active,#u1479.MuseMenuActive,#u1529:hover,#u1529:active,#u1529.MuseMenuActive,#u1567:hover,#u1567:active,#u1567.MuseMenuActive
{
	background-repeat: repeat-y;
	background-color: transparent;
	background-position: left top;
}

#u1475-4,#u1480-4,#u1531-4,#u1568-4
{
	color: #FFFFFF;
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 24px;
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#00000000', GradientType=1)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00000000, GradientType=1);
	border-width: 0px;
	font-size: 20px;
}

.MenuItem
{
	cursor: pointer;
}

#u5232
{
	background-color: #1A3958;
	background-repeat: repeat-y;
	border-radius: 51px;
	background-position: left top;
}

#u5232:active
{
	background-repeat: repeat-y;
	background-color: #1A3958;
	background-position: left top;
}

#u5233-4
{
	text-align: center;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
}

#u280-6,#u5231-6,#u5223-4
{
	vertical-align: top;
	display: block;
}

#u5224-5
{
	background-color: transparent;
	color: #FFFFFF;
}

#u5224
{
	text-align: center;
}

#u360,#u4681,#u1469,#u1476,#u1528,#u1564,#u5221,#u5227,#u5229
{
	background-color: transparent;
}

@media (min-width: 933px)
{
	#menuu1468
	{
		background-image: url("../images/u1468-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(34%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(255,255,255,0) 34%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(255,255,255,0) 34%);
	}

	#u1472
	{
		background-image: url("../images/u1472-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1472:hover
	{
		background-image: url("../images/u1472-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1472:active
	{
		background-image: url("../images/u1472-m-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1472.MuseMenuActive
	{
		background-image: url("../images/u1472-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1475-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u1479
	{
		background-image: url("../images/u1479-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1479:hover
	{
		background-image: url("../images/u1479-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1479:active
	{
		background-image: url("../images/u1479-m-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1479.MuseMenuActive
	{
		background-image: url("../images/u1479-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1480-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u1529
	{
		background-image: url("../images/u1479-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1529:hover
	{
		background-image: url("../images/u1479-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1529:active
	{
		background-image: url("../images/u1479-m-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1529.MuseMenuActive
	{
		background-image: url("../images/u1479-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1531-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u1567
	{
		background-image: url("../images/u1479-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1567:hover
	{
		background-image: url("../images/u1479-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1567:active
	{
		background-image: url("../images/u1479-m-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1567.MuseMenuActive
	{
		background-image: url("../images/u1479-r-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1568-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u5232
	{
		background-image: url("../images/u5232-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(#327197),color-stop(100%, #1A3958));
		background: -webkit-linear-gradient(left,#327197 ,#1A3958 100%);
		background: linear-gradient(to right,#327197 ,#1A3958 100%);
	}

	#u5232:active
	{
		background-image: url("../images/u5232-m-grad.png");
		background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #1A3958));
		background: -webkit-linear-gradient(left,#FFFFFF ,#1A3958 100%);
		background: linear-gradient(to right,#FFFFFF ,#1A3958 100%);
	}

	#u5225_img
	{
		display: block;
		vertical-align: top;
	}

}

@media (max-width: 932px)
{
	#menuu1468
	{
		background-image: url("../images/u1468-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(34%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(255,255,255,0) 34%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(255,255,255,0) 34%);
	}

	#u1472
	{
		background-image: url("../images/u1472-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1472:hover
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1472:active
	{
		background-image: url("../images/u1472-m-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1472.MuseMenuActive
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1475-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u1479
	{
		background-image: url("../images/u1472-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1479:hover
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1479:active
	{
		background-image: url("../images/u1472-m-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1479.MuseMenuActive
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1480-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u1529
	{
		background-image: url("../images/u1472-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1529:hover
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1529:active
	{
		background-image: url("../images/u1472-m-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1529.MuseMenuActive
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1531-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u1567
	{
		background-image: url("../images/u1472-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1567:hover
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1567:active
	{
		background-image: url("../images/u1472-m-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(107,107,107,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(107,107,107,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1567.MuseMenuActive
	{
		background-image: url("../images/u1472-r-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(rgba(153,153,153,0.1)),color-stop(100%, rgba(255,171,80,0)));
		background: -webkit-linear-gradient(left,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
		background: linear-gradient(to right,rgba(153,153,153,0.1) ,rgba(255,171,80,0) 100%);
	}

	#u1568-4
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)),color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(left,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(0,0,0,0) 100%);
	}

	#u5232
	{
		background-image: url("../images/u5232-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(#327197),color-stop(100%, #1A3958));
		background: -webkit-linear-gradient(left,#327197 ,#1A3958 100%);
		background: linear-gradient(to right,#327197 ,#1A3958 100%);
	}

	#u5232:active
	{
		background-image: url("../images/u5232-m-grad2.png");
		background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #1A3958));
		background: -webkit-linear-gradient(left,#FFFFFF ,#1A3958 100%);
		background: linear-gradient(to right,#FFFFFF ,#1A3958 100%);
	}

	#u5225
	{
		background-color: transparent;
	}

}

