.version.nosotros /* version checker */
{
	color: #000017;
	background-color: #251268;
}

#page
{
	border-color: #000000;
	background-image: none;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	border-width: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u360
{
	z-index: 2;
	margin-right: -10000px;
	position: relative;
}

#u4681
{
	z-index: 30;
	margin-right: -10000px;
	position: relative;
}

#u3815
{
	position: relative;
	width: 100%;
	z-index: 67;
	background-color: transparent;
}

#u3837-4
{
	display: block;
	position: relative;
	z-index: 69;
	vertical-align: top;
}

#u3933
{
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CE2884E1', endColorstr='#A0006E31', GradientType=1)";
	z-index: 66;
	margin-top: 33px;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CE2884E1, endColorstr=#A0006E31, GradientType=1);
	padding-bottom: 39px;
}

#u3936-12
{
	display: block;
	margin-top: 24px;
	position: relative;
	z-index: 73;
	vertical-align: top;
	margin-right: -10000px;
}

#u3939
{
	z-index: 85;
	background-color: #FFFFFF;
	position: relative;
	padding-bottom: 14px;
	margin-top: 19px;
}

#u3942-6
{
	display: block;
	margin-top: 14px;
	position: relative;
	z-index: 86;
	vertical-align: top;
	margin-right: -10000px;
}

#u3945
{
	margin-top: 14px;
	position: relative;
	z-index: 92;
	background-color: transparent;
	margin-right: -10000px;
}

#u3955
{
	background-color: transparent;
	position: relative;
	z-index: 94;
	margin-top: 28px;
}

#u3974
{
	width: 100%;
	z-index: 95;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3974_img
{
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=62.999999999999986)";
	filter: alpha(opacity=62.999999999999986);
	opacity: 0.6299999999999999;
}

#u3961-6
{
	display: block;
	margin-top: 12px;
	margin-bottom: -3px;
	position: relative;
	z-index: 97;
	vertical-align: top;
	margin-right: -10000px;
}

#u3964
{
	margin-top: 23px;
	position: relative;
	z-index: 103;
	background-color: transparent;
	margin-right: -10000px;
}

#u280-6
{
	z-index: 32;
	margin-right: -10000px;
	position: relative;
}

#u1440
{
	position: relative;
	z-index: 4;
	margin-right: -10000px;
	height: 5px;
}

.ie #u1440
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.9999999999999998)";
	filter: alpha(opacity=0.9999999999999998);
	background-color: #FFFFFF;
	opacity: 0.009999999999999998;
}

#menuu1468
{
	position: relative;
	z-index: 5;
	margin-right: -10000px;
}

#u1469,#u1476,#u1528,#u1564
{
	position: relative;
	margin-right: -10000px;
	min-height: 24px;
}

#u1472,#u1479,#u1529,#u1567
{
	width: 100%;
	position: relative;
}

#u1472:hover,#u1472:active,#u1472.MuseMenuActive,#u1479:hover,#u1479:active,#u1479.MuseMenuActive,#u1529:hover,#u1529:active,#u1529.MuseMenuActive,#u1567:hover,#u1567:active,#u1567.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1475-4,#u1480-4,#u1531-4,#u1568-4
{
	position: relative;
	width: 100%;
	margin-right: -10000px;
	min-height: 24px;
}

#u1472:hover #u1475-4,#u1472:active #u1475-4,#u1472.MuseMenuActive #u1475-4,#u1479:hover #u1480-4,#u1479:active #u1480-4,#u1479.MuseMenuActive #u1480-4,#u1529:hover #u1531-4,#u1529:active #u1531-4,#u1529.MuseMenuActive #u1531-4,#u1567:hover #u1568-4,#u1567:active #u1568-4,#u1567.MuseMenuActive #u1568-4
{
	padding-top: 0px;
	min-height: 24px;
	width: 100%;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#u5231-6
{
	z-index: 55;
	margin-right: -10000px;
	position: relative;
}

#u5232
{
	z-index: 61;
	position: relative;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u5232:active
{
	min-height: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
	margin-right: -10000px;
}

#u5233-4
{
	margin-top: 4px;
	min-height: 22px;
	position: relative;
	z-index: 62;
	margin-right: -10000px;
}

#u5221
{
	width: 100%;
	z-index: 38;
	margin-right: -10000px;
	position: relative;
}

#u5223-4
{
	margin-top: 25px;
	position: relative;
	z-index: 40;
	margin-right: -10000px;
}

#u5224-5
{
	min-height: 35px;
	position: relative;
	z-index: 44;
	margin-right: -10000px;
}

#u5225
{
	position: relative;
	z-index: 49;
	margin-right: -10000px;
}

#u5227
{
	position: relative;
	z-index: 51;
	margin-right: -10000px;
}

#u5229
{
	margin-top: 29px;
	position: relative;
	z-index: 53;
	margin-right: -10000px;
}

.html
{
	background: #FFFFFF url("../images/iceland-2111811_1920.jpg") repeat left top scroll;
}

body
{
	position: relative;
}

#u3945_img,#u3964_img,#pu5221,#u5227_img,#u5229_img
{
	width: 100%;
}

@media (min-width: 933px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1571.1437500000015px;
		padding-bottom: 1px;
		max-width: 1200px;
	}

	#page_position_content
	{
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
	}

	#pu360
	{
		width: 97.5%;
		margin-left: 1.67%;
	}

	#u360
	{
		width: 92.48%;
		left: 7.53%;
	}

	#u360_img
	{
		padding-right: 19px;
		width: 98.25%;
	}

	#u1440
	{
		margin-top: 56px;
		width: 0.52%;
		left: 14.96%;
	}

	#menuu1468
	{
		margin-top: 31px;
		width: 47.36%;
		left: 50.52%;
	}

	#u1469
	{
		width: 24.55%;
	}

	#u1476
	{
		width: 24.73%;
		left: 24.91%;
	}

	#u1528
	{
		width: 24.73%;
		left: 50%;
	}

	#u1564
	{
		width: 24.73%;
		left: 75.1%;
	}

	#u4681
	{
		width: 10.18%;
	}

	#u4681_img
	{
		padding-left: 6px;
		width: 94.96%;
	}

	#u280-6
	{
		width: 16.16%;
		left: 10.18%;
	}

	#pu3815
	{
		margin-top: 27px;
		width: 101.84%;
		margin-left: -1.84%;
	}

	#u3815
	{
		margin-right: -10000px;
	}

	#u3815_img
	{
		width: 100%;
	}

	#u3837-4
	{
		margin-right: -10000px;
		margin-top: 259px;
		width: 22.35%;
		left: 3.44%;
	}

	#u3933
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(40,132,225,0.8099999999999999)),color-stop(100%, rgba(0,110,49,0.6299999999999999)));
		background: -webkit-linear-gradient(left,rgba(40,132,225,0.8099999999999999) ,rgba(0,110,49,0.6299999999999999) 100%);
		background: linear-gradient(to right,rgba(40,132,225,0.8099999999999999) ,rgba(0,110,49,0.6299999999999999) 100%);
		width: 96.67%;
		margin-left: 1.67%;
	}

	#u3936-12
	{
		width: 81.56%;
		left: 6.64%;
	}

	#u3942-6
	{
		width: 38.63%;
		left: 11.38%;
	}

	#u3945
	{
		width: 16.21%;
		left: 62.76%;
	}

	#u3939,#u3955
	{
		width: 96.67%;
		margin-left: 1.67%;
	}

	#u3961-6
	{
		width: 40%;
		left: 54.57%;
	}

	#u3964
	{
		width: 25.18%;
		left: 15.52%;
	}

	#pu5231-6
	{
		margin-top: 3px;
		width: 84.75%;
		margin-left: 2.17%;
	}

	#u5231-6
	{
		width: 80.34%;
	}

	#u5232
	{
		margin-top: 10px;
		width: 16.13%;
		left: 83.88%;
	}

	#u5232:active
	{
		margin-top: 10px;
		width: 16.13%;
	}

	#u5233-4
	{
		width: 73.79%;
		left: 12.81%;
	}

	#pu5221
	{
		margin-left: 1.67%;
	}

	#u5221_img
	{
		padding-right: 40px;
		width: 96.67%;
	}

	#u5223-4
	{
		width: 20.92%;
		left: 3.59%;
	}

	#u5224-5
	{
		margin-top: 73px;
		width: 36.42%;
		left: 31.09%;
	}

	#u5225
	{
		margin-top: 30px;
		width: 4%;
		left: 70.84%;
	}

	#u5227
	{
		margin-top: 29px;
		width: 4%;
		left: 77.17%;
	}

	#u5229
	{
		width: 4%;
		left: 83.5%;
	}

	#u5225_img
	{
		width: 97.92%;
	}
}

@media (max-width: 932px)
{
	#muse_css_mq
	{
		background-color: #0003a4;
	}

	#bp_932.active
	{
		display: block;
	}

	#page
	{
		min-height: 1556px;
		padding-bottom: 16px;
		max-width: 932px;
	}

	#ppu360
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 20px;
		width: 101.83%;
		margin-left: -1.83%;
	}

	#pu360
	{
		width: 94%;
		margin-left: 3.9%;
	}

	#u360
	{
		width: 93.73%;
		left: 6.28%;
	}

	#u4681
	{
		width: 9.87%;
	}

	#u3815
	{
		margin-top: 48px;
	}

	#u3815_img
	{
		width: 100.11%;
	}

	#u3837-4
	{
		width: 22.34%;
		margin-left: 3.48%;
	}

	#u3933
	{
		background: -webkit-gradient(linear, left center, right center, from(rgba(40,132,225,0.8099999999999999)),color-stop(100%, rgba(0,110,49,0.6299999999999999)));
		background: -webkit-linear-gradient(left,rgba(40,132,225,0.8099999999999999) ,rgba(0,110,49,0.6299999999999999) 100%);
		background: linear-gradient(to right,rgba(40,132,225,0.8099999999999999) ,rgba(0,110,49,0.6299999999999999) 100%);
		width: 94.95%;
		margin-left: 3.38%;
	}

	#u3936-12
	{
		width: 81.47%;
		left: 6.66%;
	}

	#u3942-6
	{
		width: 38.52%;
		left: 11.33%;
	}

	#u3945
	{
		width: 16.21%;
		left: 62.71%;
	}

	#u3939,#u3955
	{
		width: 94.95%;
		margin-left: 3.38%;
	}

	#u3961-6
	{
		width: 39.96%;
		left: 54.61%;
	}

	#u3964
	{
		width: 25.2%;
		left: 15.54%;
	}

	#u280-6
	{
		margin-top: 21px;
		width: 15.67%;
		margin-left: 42.17%;
		left: -244px;
	}

	#u1440
	{
		margin-top: 76px;
		width: 0.54%;
		left: 16.21%;
	}

	#menuu1468
	{
		margin-top: 51px;
		width: 46.14%;
		left: 50.86%;
	}

	#u1469
	{
		width: 24.66%;
	}

	#u1476
	{
		width: 24.66%;
		left: 25.12%;
	}

	#u1528
	{
		width: 24.66%;
		left: 50.24%;
	}

	#u1564
	{
		width: 24.66%;
		left: 75.35%;
	}

	#ppu5231-6
	{
		margin-right: -10000px;
		margin-top: 12px;
		width: 100%;
		margin-left: 2.79%;
	}

	#pu5231-6
	{
		width: 84.55%;
		margin-left: 0.43%;
	}

	#u5231-6
	{
		width: 80.59%;
	}

	#u5232
	{
		margin-top: 15px;
		width: 16.12%;
		left: 83.89%;
	}

	#u5232:active
	{
		margin-top: 15px;
		width: 16.12%;
	}

	#u5233-4
	{
		width: 74.02%;
		left: 12.6%;
	}

	#u5221_img
	{
		padding-right: 31px;
		width: 96.68%;
	}

	#u5223-4
	{
		width: 20.82%;
		left: 3.65%;
	}

	#u5224-5
	{
		margin-top: 25px;
		width: 36.38%;
		left: 30.16%;
	}

	#u5225
	{
		margin-top: 29px;
		width: 3.97%;
		left: 70.82%;
	}

	#u5227
	{
		margin-top: 28px;
		width: 3.97%;
		left: 77.15%;
	}

	#u5229
	{
		width: 3.97%;
		left: 83.59%;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 3px;
	}

	#u360_img,#u4681_img,#u5225_img
	{
		width: 100%;
	}
}

